*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#durga {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
	direction: rtl;
	text-align: right;
	min-height: 100vh; 
	margin:0;
	padding: 0;
    background-color: #000000;
	position: relative;
	flex-direction: column;
}
h2{
	position: relative;
	font-size: 1.5em;
	letter-spacing: 15px;
	color: #c7fa50;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	-webkit-box-reflect : below 1px linear-gradient(transparent , #0004);
	line-height: 0.70em;
	outline: none;
	animation: animate 3s linear infinite;
	
}
@keyframes animate{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #c7fa50;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #eff0e2,
		            0 0 20px #eff0e2,
		            0 0 40px #eff0e2,
		            0 0 80px #eff0e2,
		            0 0 160px #eff0e2;

	}
} 


p {
    color: white; /* or any color that contrasts with your background */
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
	/* border: 1px solid red; */
}
#content{
	flex-grow: 1;
	position: relative;
	
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding: 10px 0; */
	overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}
footer p {
    color: #ffffff;
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;
    animation: moveRightToLeft 20s linear infinite; /* Adjust time as needed */
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}